.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;

    h1 {
        width: 160px;
        margin: 20px 0 5px 0;
        align-self: center;
    }

    &__logo {
        display: inline-block;
        margin: auto;
        align-items: center;
        width: 160px;
    }

}